body{
    background-color: #F3E9C5;
    box-sizing: border-box;
}

*{
    box-sizing: border-box;
}

p{
    font-family: 'Raleway', sans-serif;
}
.container-fluid {
    padding-right: 0;
    padding-left: 0;
}

/* HEADER */

ul.nav.navbar-nav{
    display:inline;
    float:right;
    font-family:'Raleway',sans-serif;
    font-size:1.2em;
    font-weight:300;
}



.navbar{
    margin-bottom: 0;
}

nav li a:focus .nav li a:hover {
    text-decoration: none;
    background-color: none;
}
.nav > li > a:focus, .nav > li > a:hover {
    background-color: transparent;
}

h1{
    display:inline;
    float: left;
}

/* CONCEPT */

div#concept{
    padding : 20px;
    background-color: #703A04;
    background-image: url(img/original-restaurant-3);

}

img#wood{
    width:100%;
}

p#our-concept{
    color:white;
    font-size:1em;
}

h2{
    font-family: 'Croissant One', cursive;
}
h2#notre-concept{
    color:#ADBD06;
}

img#wood{
    margin-bottom:15px;
}

img#logo{
    width:15%;
    float:left;
}

/* CREATORS */
.roundedImage{
    overflow:hidden;
    -webkit-border-radius:100px;
    -moz-border-radius:100px;
    border-radius:100px;
    width:200px;
    height:200px;
    margin-right: auto;
    margin-left:auto;
}

img#laurent{
    width: 120%;
}
/* CONTACT */

div#contact{
    padding: 40px;
}

textarea{
    margin-bottom:20px;
}

h2.form{
    color:white;
}

#form1{
    display:none;
}

#form2{
    display:none;
}

.btn-primary {
    color: #fff;
    background-color: #ADBD06;
    border-color: #8E9B00;
}

div#container-contact{
    background-image: url("http://localhost:8080/img/wood-texture-3.jpg");
    width: 100%;
}

.form-control:focus {
    border-color: #ADBD06;
    box-shadow: inset 0 1px 1px rgba(173,189,5,.075);
}

.btn-primary {
    color: #fff;
    background-color: #ADBD06;
    border-color: #8E9B00;
    font-size:0.9em;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    cursor:pointer;
    background: #8E9B00;
    border-color: #8E9B00;
}

.btn-primary:active, .btn-primary.active, .btn-primary:link{
    cursor:pointer;
    background: #8E9B00;
    border-color: #8E9B00;
    box-shadow: none;
}

#large-buttons{
    margin-bottom: 10px;
}

/* FOOTER */

footer{
    background-color: ;
}